table {
  /*width:90%;*/
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  margin:1em auto;
  border-collapse:collapse;
}
tbody td {
  color:#678197;
  border-bottom:1px solid #e5eff8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
  text-align:right;
}
tbody tr:nth-child(odd) td {
  background:#f7fbff
}
tbody tr:nth-child(odd) .column1 {
  background:#f4f9fe;
}
tbody .column1 {
  background:#f9fcfe;
  text-align: left;
}
thead th {
  background: #243f86;
  text-align:center;
  font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
  color: #92cdee;
}

tfoot td {
  text-align: left;
  background: #92cdee;
  font-size: smaller;
}
