<table summary="{{summary}}" class="table">
  <caption>{{ caption }}</caption>
  <thead>
    <tr>
      <th colspan="2">{{ title }} Subjects</th>
    </tr>
  </thead>
  <tbody>
    @for (row of datarows; track row) {
      <tr>
        @if (row.header.toLowerCase() === 'current selection') {
          <td class="column1" id="label-{{row.id}}">
            <b>{{ row.header }}</b></td>
          }
          @if (row.header.toLowerCase() !== 'current selection') {
            <td class="column1"
              id="label-{{row.id}}">{{ row.header }}
            </td>
          }
          @if (row.header.toLowerCase() === 'current selection') {
            <td id="value-{{row.id}}"><b>{{ row.value }}</b></td>
          }
          @if (row.header.toLowerCase() !== 'current selection') {
            <td id="value-{{row.id}}">{{ row.value }}</td>
          }
        </tr>
      }
    </tbody>
    <tfoot>
      @if (maskValue > 0) {
        <tr>
          <td colspan="2" style="word-wrap: break-word;">
            <ul>
              <li>Cell sizes &le;{{ maskValue }} are not shown.</li>
            </ul>
            @for (comment of comments; track comment) {
              <ul>
                <li>{{ comment }}</li>
              </ul>
            }
          </td>
        </tr>
      }
    </tfoot>
  </table>
