<div>

  <p-accordion-panel
    [matTooltip]="description"
    [matTooltipDisabled]="!description"
    [matTooltipPosition]="position"
    value="={{category.id}}"
  >
    <p-accordion-header class="accordion-header">{{ name }}</p-accordion-header>
    <p-accordion-content>
      <!-- An accordion containing all items -->
      <p-accordion [multiple]="true">
        @for (item of items; track item.id) {
          <div>
            <app-item #itemComponent [item]="item" (onChange)="itemUpdated($event)"></app-item>
          </div>
        }
      </p-accordion>
    </p-accordion-content>
  </p-accordion-panel>
</div>
