<p-accordionTab #fieldset header="{{item.name}}"
         pTooltip="{{item.description}}">
  <div *ngIf="item.range !== null && item.range !== undefined">
    <app-checkbox-value #valueCheckbox
                        [min]="item.range[0]"
                        [max]="item.range[1]"
                        [step]="item.range[2]"
                        (onChange)="itemChanged($event)"
    ></app-checkbox-value>
  </div>
  <div *ngIf="item.values !== null">
    <div *ngFor="let value of item.values">
      <app-value #valueItem [value]="value" (onChange)="itemChanged($event)"></app-value>
    </div>
  </div>
</p-accordionTab>
