<p-accordion [multiple]="false"
             [value]="isExpanded ? 0 : -1"
             (valueChange)="onAccordionValueChange($event)">
<p-accordion-panel value="0"
                   matTooltip="{{item.description}}"
                   [matTooltipPosition]="position">
  <p-accordion-header>{{ item.name }}</p-accordion-header>
  <p-accordion-content>
    @if (item.range !== null && item.range !== undefined) {
      <div>
        <app-checkbox-value #valueCheckbox
                            [min]="item.range[0]"
                            [max]="item.range[1]"
                            [step]="item.range[2]"
                            (onChange)="itemChanged($event)"
        ></app-checkbox-value>
      </div>
    }
    @if (item.values !== null) {
      <div>
        @for (value of item.values; track value) {
          <div>
            <app-value #valueItem [value]="value" (onChange)="itemChanged($event)"></app-value>
          </div>
        }
      </div>
    }
  </p-accordion-content>
</p-accordion-panel>
</p-accordion>
