<div id="FULLWIDTH">
  <mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
      <input #target [(ngModel)]="searchTerm" placeholder="search"
             (click)="openDialog()"
      />
      <!--<app-search-dialog #searchPanel></app-search-dialog>-->
      <button (click)="collapseAll()">Collapse All</button>

      <app-category-master #master (onChange)="categoryUpdated($event)"></app-category-master>
    </mat-sidenav>

    <mat-sidenav-content class="content">

      <app-breadcrumb #breadcrumb></app-breadcrumb>
      <app-age-chart #ageBlChart [title]="ageBlTitle"></app-age-chart>
      <app-age-chart #ageFuChart [title]="ageFuTitle"></app-age-chart>
      <app-subject-table #subjectTable></app-subject-table>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>

<div>
  <div id="MENUSIDE">
    <p><button mat-button (click)="sidenav.toggle()">View/Hide Filters</button></p>
  </div>

  <div id="TITLEAREA">
    <h1>{{title}}</h1>
  </div>
</div>


<app-filter-dialog #filterDialog></app-filter-dialog>
