<div id="FULLWIDTH">

  <app-breadcrumb #breadcrumb></app-breadcrumb>
  <mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
      <input #target [(ngModel)]="searchTerm" placeholder="search"
             (click)="openDialog()"
      />
      <button (click)="collapseAll()">Collapse All</button>

      <app-category-master #master (onChange)="categoryUpdated($event)"></app-category-master>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="button-div">
        <button class="button" mat-button (click)="toggleSidenav()">
          <span>{{buttonText}}</span>
        </button>
      </div>
      <div class="row" style="margin-left: 20px; display: block;">
        <div class="col-md-4">
          <app-google-age-chart #gAgeBlChart [title]="ageBlTitle"></app-google-age-chart>
        </div>
        <div class="col-md-4">
          <app-google-age-chart #gAgeFuChart [title]="ageFuTitle"></app-google-age-chart>
        </div>
      </div>
      <div class="row" style="margin-left: 20px; display: block;">
        <div class="col-md-4">
          <app-age-chart #ageBlChart [title]="ageBlTitle"></app-age-chart>
        </div>
        <div class="col-md-4">
          <app-age-chart #ageFuChart [title]="ageFuTitle"></app-age-chart>
        </div>
        <div class="col-md-4">
          <app-subject-table #subjectTable></app-subject-table>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>


<app-filter-dialog #filterDialog></app-filter-dialog>
