input {
  width: 95%;
  margin: 1% 2% 0.25% 2%;
  font-size: 20px;
  font-family: monospace;
}

#FULLWIDTH {
  overflow: hidden;
  z-index: 1;
  background-color: white;
  width: 100%;
  margin: 0 0.25% 0.25%;
  height: 100%;
  position: absolute;
  right: 0;
}

.example-container {
  height: 100%;
}

.content {
  padding-left: 20px;
  float: left;
}

.innercontent {
  float: top;
}

.sidenav {
  height: 100%;
}

.button-div {
  height: 100%;
  float: left;
  width: 20px;
  /*display: inline-block;*/
}

.button {
  height: 100%;
  width: 30px;
  background-color: #044d7a;
}

.button span {
  display: block;
  white-space: nowrap;
  transform: rotate(270deg);
  font-size: 16px;
  color: white;
  font-family: Candara, serif;
  letter-spacing: 2px;
  font-weight: bold;
}
