<!--[if IE]>
<p style="color: white;">
  {{ieComment}}<button (click)="dismissIEComment()">Dismiss</button>
</p>
<![endif]-->
<div>
  <h1 class="title">{{title}}</h1>
  <div style="margin-left: 45%">
    <app-spinner
      name="startSpinner"
      loadingImage="assets/Spin-1s-200px.svg"
      [show]="true"
      size="large"
    ></app-spinner>
  </div>
</div>
<div *ngIf="tabs.length > 0">
  <p-tabView>
    <p-tabPanel header="{{tabconfig.header}}" [selected]="tabconfig.header === 'Home'" *ngFor="let tabconfig of tabs">
      <div *ngFor="let line of tabconfig.lines">
        <div *ngIf="line.type == 'text'">
          <p>{{line.text}}</p>
        </div>
        <div *ngIf="line.type == 'header'">
          <h1>{{line.text}}</h1>
        </div>
        <div *ngIf="line.type == 'bold'">
          <b>{{line.text}}</b>
        </div>
      </div>
      <div *ngIf="tabconfig.header == 'Home'">
        <app-home-page [authenticated]="authenticated" (onChange)="userFormSubmitted($event)"></app-home-page>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Query Tool" [disabled]="! authenticated">
      <app-main #dqt></app-main>
    </p-tabPanel>
  </p-tabView>
</div>
