<div id="MENUSIDE">

  <input [(ngModel)]="searchTerm" placeholder="search" (keyup)="search($event, searchTerm)" />


  <h2>Search Results</h2>
  <ul>
    <li *ngFor="let res of results | async">
      <button (click)="getCategory(res.type, res.id)">{{res.name}}</button>
    </li>
  </ul>

  <h2>Filter Results</h2>

  <div class="scrollwrapper2">
  <div class="scrollcontent">
    <app-category-master (onChange)="categoryUpdated($event)"></app-category-master>
  </div>
  </div>
</div>

<div id="CONTENTSIDE">
  <div class="scrollwrapper">
    <div class="scrollcontent">
  <h1>{{title}}</h1>

  <h3> Filter returned {{count }} results.</h3>
  <h3>Bar Chart</h3>
  <app-barchart [data]="chartData"></app-barchart>

  <app-chart></app-chart>
    </div>
  </div>
</div>
