input {
  width: 95%;
  margin: 1% 2% 0.25% 2%;
  font-size: 20px;
  font-family: monospace;
}

#TITLEAREA {
  background-color: #20272a;
  overflow: hidden;
  z-index: 1;
  width: 65%;
  margin: 0.25%;
  height: 10%;
  position: absolute;
  right: 0;
  color: white;
  font-family: monospace;
}

#MENUSIDE {
  background-color: #20272a;
  display: inline-block;
  padding: 0.25%;
  margin-top: 5px;
  width: 20%;
  height: 100%;
  position: fixed;
}

#CONTENTSIDE {
  overflow: hidden;
  z-index: 1;
  background-color: white;
  width: 78%;
  margin: 75px 0.25% 0.25%;
  height: auto;
  position: absolute;
  right: 0;
}
