@if (show) {
  <div>
    @if (size == 'large') {
      <div>
        @if (loadingImage) {
          <img [src]="loadingImage"
            style="max-height: 100px; max-width: 100px;"
            />
        }
        <ng-content></ng-content>
      </div>
    }
    @if (size == 'medium') {
      <div>
        @if (loadingImage) {
          <img [src]="loadingImage"
            style="max-height: 50px; max-width: 50px;"
            />
        }
        <ng-content></ng-content>
      </div>
    }
    @if (size == 'small') {
      <div>
        @if (loadingImage) {
          <img [src]="loadingImage"
            style="max-height: 30px; max-width: 30px;"
            />
        }
        <ng-content></ng-content>
      </div>
    }
    @if (size == 'tiny') {
      <div>
        @if (loadingImage) {
          <img [src]="loadingImage"
            style="max-height: 10px; max-width: 10px;"
            />
        }
        <ng-content></ng-content>
      </div>
    }
  </div>
}
