<h2>What is the ACT study?</h2>

<p>
  The ACT (Adult Changes in Thought) study is a longitudinal study of aging and dementia. With over 5,000 study participants, ACT provides one of the largest living laboratories for healthy aging and cognitive research in the US. The PIs are Eric Larson, MD, at Kaiser Permanente Washington Health Research Institute, and Paul Crane, MD, at the University of Washington. You can learn more about the ACT study at our main study website.
</p>


<h2>How do I use the data query tool?</h2>

<p>
  The data query tool provides frequencies of study participants by age, and average times of Kaiser and study enrollment. To use the tool, select options in the left-hand column based on your population characteristics of interest. As you select options, the tool will refresh the graph and numbers automatically. To unselect options, either unselect them on the left-hand column or as you see them listed across the top of the tool. There is no limit to the number of options you can select. However, small cell sizes <5 will not be shown. The data query tool only shows overall counts and frequencies, it is not possible to show cross-tabs or variables at this time.
</p>


<h2>What data are included in the data query tool?</h2>

<p>
  The data query tool includes information on demographics, comorbid conditions, neuropathology outcomes, dementia and Alzheimer’s disease diagnoses, medication use, and frailty measures. Many ACT study participants have these data collected at multiple points in time. Therefore, we have only included data from participants’ baseline and most recent follow-up visits. Please see the Data Dictionary for more detail.
</p>


<h2>Can I download data from the data query tool?</h2>

<p>
  No. The data query tool only produces counts based on your selections. If you would like to request ACT data for research, please submit an ACT proposal.
</p>


<h2>I am an ACT study participant. How are my data in the data query tool kept confidential?</h2>

<p>
  All data included in the data query tool are de-identified. No names, contact information, or any other identifying information are included in the data query tool. In addition, the data query tool only provides counts of study participants, and does not provide individual records. We never provide counts smaller than 5.
</p>


<h2>Can I cite these numbers in my grant/publication/presentation?</h2>

<p>
  These numbers are provided for feasibility purposes only. If you wish to cite ACT data in your grant, publication, or presentation, please submit an ACT proposal.
</p>
