<p-toggleButton [(ngModel)]="checked" onLabel="{{vals[0]}}-{{vals[1]}}" offLabel="{{vals[0]}}-{{vals[1]}}"
                onIcon="fa-check-square"
                offIcon="fa-square" [style]="{'width':'150px'}"
                (onChange)="toggleChanged($event)"
></p-toggleButton>
<div>
  <p-slider [(ngModel)]="vals"
            [min]="min" [max]="max" [range]="true"
            [step]="step"
            (onSlideEnd)="valuesChanged($event)">
  </p-slider>

  <div class="left-column">{{min}}</div>
  <div class="center-column">Step: {{step}}</div>
  <div class="right-column">{{max}}</div>
</div>
