.wrapper {
  /*width: 100%;*/
  display: table;
}

.right-column {
  width: 20%;
}

.center-column {
  width: 30%;
}

.left-column {
  width: 20%;
}

.right-column, .left-column, .center-column {
  height: 10px;
  display: table-cell;
}

::ng-deep .custom-slider .p-slider-handle {
  border: 2px solid #1c3100 !important;
}
