<p-toggleButton [(ngModel)]="checked" onLabel="{{buttonVals[0]}}-{{buttonVals[1]}}" offLabel="{{buttonVals[0]}}-{{buttonVals[1]}}"
                onIcon="fa-check-square"
                offIcon="fa-square" [style]="{'width':'150px'}"
                (onChange)="toggleChanged($event)"
></p-toggleButton>
<div>
  <p-slider [(ngModel)]="vals"
            [min]="minAsInt" [max]="maxAsInt" [range]="true"
            [step]="stepAsInt"
            (onSlideEnd)="valuesChanged($event)"
            (onChange)="onValueUpdate($event)"
  >
  </p-slider>

  <div class="left-column">{{min}}</div>
  <div class="center-column">Step: {{step}}</div>
  <div class="right-column">{{max}}+</div>
</div>
