.wrapper {
  width: 100%;
  display: table;
}

.right-column {
  width: 15%;
}

.center-column {
  width: 60%;
}

.left-column {
  width: 15%;
}

.right-column, .left-column, .center-column {
  height: 500px;
  display: table-cell;
}
